# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE - VS Code
.vscode/*
!.vscode/extensions.json

# IDE - JetBrains
.idea/
*.iml
*.swp

# macOS
.DS_Store
*.AppleDouble
*.AppleDB

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Editor temp files
*.swo
*~
*.swp
